<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout Design</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h3>Header</h3>
      </header>
      <div class="main">
        <aside>
          <h3>Aside</h3>
        </aside>
        <article>
          <h3>Article</h3>
          <div class="wrapper">
            <div class="img-box">
              <h3>image</h3>
            </div>
            <div class="img-box">
              <h3>image</h3>
            </div>
            <div class="img-box">
              <h3>image</h3>
            </div>
          </div>
        </article>
      </div>
      <footer class="footer">
        <h3>Footer</h3>
      </footer>
      <h1 class="heading">Abdul Ahad</h1>
    </div>
  </body>
</html>
